# .env
PORT=3003 #or whatever your backend port number you want to use
PG_HOST=localhost
PG_PORT=5432 #this is the port for the database do not change
PG_DATABASE= #name of your database
PG_USER=postgres
FIREBASE_SERVICE_ACCOUNT= #your base64 encoded service account key

